<%- include ("../layout/admintemHeader") %>
<%- include ("../layout/sideBar") %>
<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List </h2>
            </div>
            
        </div>

        <div class="d-grid">
            <a href="/admin/return">
                <button class="btn btn-primary" style="margin-bottom: 20px;">Review Return Request</button>
            </a>
        </div>
        <div class="card mb-4">
       
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                
                                <th scope="col">Total Amount</th>
                                <th scope="col">Payment Method</th>
                                <th scope="col">Date of Order</th>
                                <th scope="col">Discount</th>
                                
                                <th scope="col">Order Status</th>
                                <th scope="col">Payment Status</th>
                                <th scope="col" class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(orders && orders.length > 0) { %>
                                <% orders.forEach(function(order) { %>
                                    <tr>
                                        <td><%= order._id.toString().slice(-4) %></td>
                                        
                                        <td>₹<%= order.finalAmount %></td>
                                        <td>
                                            <% if(order.paymentMethod === 'CashOnDelivery') { %>
                                                <span class="badge rounded-pill alert-primary">COD</span>
                                            <% } else if(order.paymentMethod === 'Online') { %>
                                                <span class="badge rounded-pill alert-info">Online</span>
                                            <% } else if(order.paymentMethod === 'Wallet') { %>
                                                <span class="badge rounded-pill alert-success">Wallet</span>
                                            <% } %>
                                        </td>
                                        <td><%= new Date(order.orderDate).toLocaleDateString() %></td>
                                        <td>₹<%= order.discount %></td>
                                        
                                        <td>
                                            <% if(order.orderStatus === 'Placed') { %>
                                                <span class="badge rounded-pill alert-warning">Placed</span>
                                            <% } else if(order.orderStatus === 'Processing') { %>
                                                <span class="badge rounded-pill alert-info">Processing</span>
                                            <% } else if(order.orderStatus === 'Shipped') { %>
                                                <span class="badge rounded-pill alert-primary">Shipped</span>
                                            <% } else if(order.orderStatus === 'Confirmed') { %>
                                                <span class="badge rounded-pill alert-info">Confirmed</span>
                                            <% } else if(order.orderStatus === 'Delivered') { %>
                                                <span class="badge rounded-pill alert-success">Delivered</span>
                                            <% } else if(order.orderStatus === 'Cancelled') { %>
                                                <span class="badge rounded-pill alert-danger">Cancelled</span>
                                            <% } else if(order.orderStatus === 'Return Request') { %>
                                                <span class="badge rounded-pill alert-warning">Return Request</span>
                                            <% } else if(order.orderStatus === 'Returned') { %>
                                                <span class="badge rounded-pill alert-secondary">Returned</span>
                                            <% } %>
                                        </td>
                                        <td>
                                            <% if(order.paymentStatus === 'Pending') { %>
                                                <span class="badge rounded-pill alert-warning">Pending</span>
                                            <% } else if(order.paymentStatus === 'Paid') { %>
                                                <span class="badge rounded-pill alert-success">Paid</span>
                                            <% } else if(order.paymentStatus === 'Failed') { %>
                                                <span class="badge rounded-pill alert-danger">Failed</span>
                                            <% } else if(order.paymentStatus === 'Refunded') { %>
                                                <span class="badge rounded-pill alert-info">Refunded</span>
                                            <% } else if(order.paymentStatus === 'Refund Pending') { %>
                                                <span class="badge rounded-pill alert-warning">Refund Pending</span>
                                           
                                            <% } %>
                                        </td>
                                        <td class="text-end">
                                            <a href="/admin/orders/<%= order._id %>" class="btn btn-md rounded font-sm">Detail</a>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="9" class="text-center">No orders found</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-start mb-20" style="margin-right: 200px;">
                  <% for(let i=1; i<=totalPages;i++){ %>
                    <li class="page-item <%=(i===currentPage) ? 'active' : '' %>">
                      <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </section>
</main