<%- include('../Layout/usertem.ejs') %>
<%- include ("../layout/cdn")%>

  <main class="main">
    <%- include ("../layout/userHeader")%>
    <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb">
          <a href="index.html" rel="nofollow">Home</a>
          <span></span> Pages
          <span></span> Account
        </div>
      </div>
    </div>

    <section class="pt-20 pb-20">

      <div class="container">

        <div class="row">
          <div class="col-lg-10 m-auto">

            <div class="row">
              <%- include ("../layout/accountSideBar")%>
              <div class="col-md-8">


                <section class="content-body p-xl-4">
                  <form action="/editaddress" method="post" onsubmit="return validationChecking()">
                    <div class="row">



                      <div class="form-group">
                        <input type="hidden" name="id" value="<%=address._id %>">
                        <input type="text" id="fullName" name="fullName" placeholder="Enter your Full name" value="<%=address?.fullName %>" />
                        <div id="errorfullName" class="ms-2 text-danger"></div>
                      </div>
                      <div class="form-group">
                        <input type="text" id="address" name="address" placeholder="Enter Address"  value="<%=address?.address %>" />
                        <div id="erroraddresss" class="ms-2 text-danger"></div>
                      </div>
                      <div class="form-group ">
                        <input type="text" id="landmark" name="landmark" placeholder="Enter landmark" value="<%=address?.landmark %>" />
                        <div id="errorlandmark" class="ms-2 text-danger"></div>
                      </div>
                      
                      <div class="form-group ">
                        <input type="text" id="locality" name="locality" placeholder="Enter your locality" value="<%=address?.locality %>" />
                        <div id="errorlocatity" class="ms-2 text-danger"></div>
                      </div>
                      <div class="form-group ">
                        <input type="text" id="city" name="city" placeholder="Enter city" value="<%=address?.city%>" />
                        <div id="errorcity" class="ms-2 text-danger"></div>
                      </div>
                      <div class="form-group ">
                        <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Enter your phone number" value="<%=address?.phoneNumber %>" />
                        <div id="errorphoneNumber" class="ms-2 text-danger"></div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-6">
                          <input type="text" id="state" name="state" placeholder="Enter state" value="<%=address?.state %>" />
                          <div id="errorstate" class="ms-2 text-danger"></div>
                        </div>
                        <div class="form-group col-md-6">
                          <input type="text" id="pincode" name="pincode" placeholder="Enter pincode" value="<%=address?.pincode %>" />
                          <div id="errorpincode" class="ms-2 text-danger"></div>
                        </div>
                      </div>

                    </div>
                    <br>
                    <div class="text-center">
                      <button class="btn btn-primary " type="submit">Save changes</button>
                    </div>

                  </form>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script>


document.addEventListener('DOMContentLoaded', function () {
  const fullName = document.getElementById("fullName");
  const errorfullName = document.getElementById("errorfullName");
  const address = document.getElementById("address");
  const errorsaddress = document.getElementById("erroraddress");
  const landmark = document.getElementById("landmark");
  const errorlandmark = document.getElementById("errorlandmark");
  const locality = document.getElementById("locality");
  const errorlocality = document.getElementById("errorlocality");
  const city = document.getElementById("city");
  const errorcity = document.getElementById("errorcity");
  const state = document.getElementById("state");
  const errorstate = document.getElementById("errorstate");
  const pincode = document.getElementById("pincode");
  const errorpincode = document.getElementById("errorpincode");
  const phoneNumber= document.getElementById("phoneNumber");
  const errorphoneNumber = document.getElementById("errorphoneNumber");

  fullName.addEventListener('input', function () {
    errorfullName.innerHTML = fullName.value.trim() === "" ? "Please enter full name" : /^[a-zA-Z ]+$/.test(fullName.value) == false ? "Please enter alphabets only" : "";
  });
  address.addEventListener('input', function () {
    erroraddress.innerHTML = address.value.trim() === "" ? "Please enter street name" : /^[a-zA-Z ]+$/.test(address.value) == false ? "Please enter alphabets only" : "";
  });
  landmark.addEventListener('input', function () {
    errorlandmark.innerHTML = landmark.value.trim() === "" ? "Please enter city name" : /^[a-zA-Z ]+$/.test(landmark.value) == false ? "Please enter alphabets only" : "";
  });
  locality.addEventListener('input', function () {
    errorlocality.innerHTML =locality.value.trim() === "" ? "Please enter state name" : /^[a-zA-Z ]+$/.test(locality.value) == false ? "Please enter alphabets only" : "";
  });
  city.addEventListener('input', function () {
    errorcity.innerHTML = city.value.trim() === "" ? "Please enter state name" : /^[a-zA-Z ]+$/.test(city.value) == false ? "Please enter alphabets only" : "";
  });
  state.addEventListener('input', function () {
    errorstate.innerHTML = state.value.trim() === "" ? "Please enter state name" : /^[a-zA-Z ]+$/.test(state.value) == false ? "Please enter alphabets only" : "";
  });

  pincode.addEventListener('input', function () {
    errorpincode.innerHTML = pincode.value.trim() === "" ? "Please enter  number" : /^\d{6}$/.test(pincode.value) == false ? "Please enter valid  number" : "";
  });
  phoneNumber.addEventListener('input', function () {
    errorphoneNumber.innerHTML = phoneNumber.value.trim() === "" ? "Please enter  number" : /^\d{10}$/.test(phoneNumber.value) == false ? "Please enter valid  number" : "";
  });


});
function validationChecking() {
  const fullName = document.getElementById("fullName");
  const errorfullName = document.getElementById("errorfullName");
  const address = document.getElementById("address");
  const errorsaddress = document.getElementById("erroraddress");
  const landmark = document.getElementById("landmark");
  const errorlandmark = document.getElementById("errorlandmark");
  const locality = document.getElementById("locality");
  const errorlocality = document.getElementById("errorlocality");
  const city = document.getElementById("city");
  const errorcity = document.getElementById("errorcity");
  const state = document.getElementById("state");
  const errorstate = document.getElementById("errorstate");
  const pincode = document.getElementById("pincode");
  const errorpincode = document.getElementById("errorpincode");
  const phoneNumber= document.getElementById("phoneNumber");
  const errorphoneNumber = document.getElementById("errorphoneNumber");

  let isValid = true;

  errorfullName.innerHTML = fullName.value.trim() === "" ? "Please enter home name" : /^[a-zA-Z ]+$/.test(fullName.value) == false ? "Please enter alphabets only" : "";
  erroraddress.innerHTML = address.value.trim() === "" ? "Please enter street name" : /^[a-zA-Z ]+$/.test(address.value) == false ? "Please enter alphabets only" : "";
  errorlandmark.innerHTML = landmark.value.trim() === "" ? "Please enter city name" : /^[a-zA-Z ]+$/.test(landmark.value) == false ? "Please enter alphabets only" : "";
  errorlocality.innerHTML =locality.value.trim() === "" ? "Please enter state name" : /^[a-zA-Z ]+$/.test(locality.value) == false ? "Please enter alphabets only" : "";
  errorcity.innerHTML = city.value.trim() === "" ? "Please enter city name" : /^[a-zA-Z ]+$/.test(city.value) == false ? "Please enter alphabets only" : "";
  errorstate.innerHTML = state.value.trim() === "" ? "Please enter state name" : /^[a-zA-Z ]+$/.test(state.value) == false ? "Please enter alphabets only" : "";
  errorpincode.innerHTML = pincode.value.trim() === "" ? "Please enter pincode" : /^\d{6}$/.test(pincode.value) == false ? "Please enter valid pincode" : "";
  errorphoneNumber.innerHTML = phoneNumber.value.trim() === "" ? "Please enter  number" : /^\d{10}$/.test(phoneNumber.value) == false ? "Please enter valid  phone number" : "";

  if (
    errorfullName.innerHTML ||
    erroraddress.innerHTML ||
    errorlandmark.innerHTML ||
    errorlocality.innerHTML ||
    errorcity.innerHTML ||
    errorstate.innerHTML ||
    errorphoneNumber.innerHTML ||
    errorpincode.innerHTML
  ) {
    isValid = false;
  }

  return isValid;
}
</script>





