
<%- include('../Layout/usertem.ejs') %>
<%- include ("../layout/cdn")%>

<main class="main">
    <%- include ("../layout/userHeader")%>
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> My Account
                <span style="color: #395ae0;">Delivery Address</span>
            </div>
        </div>
    </div>
    <div class="d-grid">
        <a href="/addaddress">
            <button class="btn btn-primary" style="margin-left: 1200px;">Add new address</button>
        </a>
    </div>
  
   
  <section class="pt-20 pb-20">
  
      <div class="container">
       
          <div class="row">
            
            
              <div class="col-lg-10 m-auto">
                  <div class="row">
                    
                    
                    <%- include ("../layout/accountSideBar")%>
                    
                      <div class="col-md-8">
                      <%if(addressData.length===0){  %>
                        <p> Please Add your Address</p>
                     <%   }%>
                         
                        <div class="row">
                            <% addressData?.forEach(address=>{
                                if (address.is_listed ) {
                             %>
                            <div class="col-lg-6">
                                
                                <div class="card mb-3 mb-lg-0">
                                    <div class="card-header">
                                    <h5 class="mb-0"><%= address?.fullName %></h5>
                                    </div>
                                    <div class="card-body">
                                        <address><%= address?.address %><br><%= address?.landmark %><br><%= address?.locality %> <br><%= address?.city%><br><%= address?.pincode %><br><%= address?.phoneNumber %></address>
                                        <p><%= address.state %></p>
                                        <div class="d-flex justify-content-end w-100">
                                        <div class="">
                                        <a href="/editaddress?id=<%= address._id %>" class="btn-small">Edit</a>
                                        </div>
                                        <div class="ms-2">
                                        <a href="/deleteaddress?id=<%= address._id %>" class="btn-small">delete</a>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                              <% } }); %>
                        </div>  
                     
                      </div>
                  </div>
              </div>
          </div>
      </div>
     

      
  </section>
 
</main>


        




       