
<%- include('../Layout/usertem.ejs') %>
<%- include ("../layout/cdn")%>

<main class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/img/logo_main.png" width="400" height="70" class="d-inline-block align-top" alt="Your Logo">
            
        </a>
      
    </nav>
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> Account
                <span style="color: #395ae0;">ACCOUNT DETAILS</span>
            </div>
        </div>
    </div>
  
   
  <section class="pt-20 pb-20">
  
      <div class="container">
          <div class="row">
              <div class="col-lg-10 m-auto">
                  <div class="row">
                    <%- include ("../layout/accountSideBar")%>
                      <div class="col-md-8">
                      
                        <% if(order.length>0){ %>
                        <div class="card" style="width: 900px;">
                            
                            <div class="card-header" >
                                <h5>Your Orders</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive" >
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Order Id</th>
                                                <th>Date of Order</th>
                                                <th>Delivery date</th>
                                                <th>Customer name</th>
                                                <th>Payment Status</th>
                                                <th>Order Status</th>
                                                <th>Total</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% order.forEach(function(order_data) { 
                                              %>
                                                                
                                            <tr>
                                                <td><%= order_data?._id %></td>
                                                <td>     <%= new Date(order_data.orderDate).toLocaleDateString() %></td>
                                                <td>     <%= new Date(order_data.deliveryDate).toLocaleDateString() %></td>
                                               
                                                <td><%= order_data.user_id.fullName %></td>
                                                <td><%= order_data.paymentStatus %></td>
                                                <td><%= order_data.orderStatus %></td>
                                                <td><%= order_data.totalAmount %></td>
                                                <td><a href="/order/orderdetails/<%= order_data?._id%>" class="btn-small d-block">View</a></td>
                                            </tr>
                                                     <% 
                                                         }) %>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                           
                        </div>
                        <%}else{%>
                                <P>oops.. Haven't Ordered anything Yet?</P>
                                <%}%>
                       
                           
                         
                            
                     
                      </div>
                  </div>
              </div>
          </div>
      </div>

      
  </section>
</main>


        




       