<%- include('../Layout/usertem.ejs') %>
  <%- include ("../layout/cdn")%>

      <main class="main">
        <%- include ("../layout/userHeader")%>
        <div class="page-header breadcrumb-wrap">
          <div class="container">
            <div class="breadcrumb">
              <a href="index.html" rel="nofollow">Home</a>
              <span></span> Pages
              <span></span> Account
              <span style="color: #395ae0;">ACCOUNT DETAILS</span>
            </div>
          </div>
        </div>
        <h4 class="text-center"> <strong>Account Details</strong> </h4>

        <section class="pt-50 pb-50">

          <div class="container">
            <div class="row">
              <div class="col-lg-10 m-auto">
                <div class="row">
                  <%- include ("../layout/accountSideBar")%>
                  <div class="col-md-8">
                    <div class="card">
                      <div class="card-header">
                        <h5>Edit Details</h5>
                      </div>
                      <div class="card-body">

                        <form method="post" name="enq">
                          <div class="row">
                            <div class="form-group col-md-12">
                              <label>Full Name <span class="required">*</span></label>
                              <input required="" class="form-control square" name="name" value="<%=user.fullName%>"
                                type="text">
                            </div>

                            <div class="form-group col-md-12">
                              <label>Email Address <span class="required">*</span></label>
                              <input required="" class="form-control square" name="email" value="<%=user.email%>"
                                type="email">
                            </div>
                            <div class="form-group col-md-12">
                              <label class="form-label">Phone</label>
                              <input class="form-control" type="tel" name="mobile" value="<%= user.phoneNumber %>"
                                id="user_phone" required>
                              <div id="errorMobile" class="ms-2 text-danger"> </div>
                              <div class="form-group col-md-12">
                                <label>Current Password <span class="required">*</span></label>
                                <input required="" class="form-control square" name="password" type="password">
                              </div>
                              <div class="form-group col-md-12">
                                <label>New Password <span class="required">*</span></label>
                                <input required="" class="form-control square" name="npassword" type="password">
                              </div>
                              <div class="form-group col-md-12">
                                <label>Confirm Password <span class="required">*</span></label>
                                <input required="" class="form-control square" name="cpassword" type="password">
                              </div>
                              <div class="col-md-12">
                                <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save
                                  Changes</button>
                              </div>
                            </div>
                        </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/resetPassword" method="post" onsubmit="return validationPasswordChecking()">
                    <div class="form-group">
                      <input type="password" id="password" name="password" placeholder="Enter Password" />
                      <div id="errorpassword" class="ms-2 text-danger"></div>
                    </div>
                    <div class="form-group">
                      <input type="password" id="cpassword" placeholder="Confirm Password" />
                      <div id="errorcpassword" class="mt-0 ms-2 text-danger"></div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
    </main>

    <script>
      document.getElementById('fileUpload').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            document.getElementById('previewImage').src = e.target.result;
          };
          reader.readAsDataURL(file);
        }
      });


      document.addEventListener('DOMContentLoaded', function () {
        const user_name = document.getElementById("user_name");
        const errorName = document.getElementById("errorName");
        const user_phone = document.getElementById("user_phone");
        const errorMobile = document.getElementById("errorMobile");
        const fileUpload = document.getElementById("fileUpload");
        const errorfileUpload = document.getElementById("errorfileUpload");
        const password = document.getElementById("password");
        const errorpassword = document.getElementById("errorpassword");
        const cpassword = document.getElementById("cpassword");
        const errorcpassword = document.getElementById("errorcpassword");


        user_name.addEventListener('input', function () {
          errorName.innerHTML = user_name.value.trim() === "" ? "Please enter user name" : /^[a-zA-Z ]+$/.test(user_name.value) == false ? "Please enter alphabets only" : "";
        });

        user_phone.addEventListener('input', function () {
          errorMobile.innerHTML = user_phone.value.trim() === "" ? "Please enter user phone number" : /^\d{10}$/.test(user_phone.value) == false ? "Please enter valid phone number" : "";
        });

        password.addEventListener('input', function () {
          errorpassword.innerHTML = password.value.trim() === "" ? "Please enter password" : password.value.length < 8 ? "Please enter a minimum of 8 characters" : "";
        });
        cpassword.addEventListener('input', function () {
          errorcpassword.innerHTML = cpassword.value.trim() === "" ? "Please enter password" : (cpassword.value !== password.value) ? "Passwords do not match" : "";
        });


      });
      function validationChecking(event) {
        const user_name = document.getElementById("user_name");
        const errorName = document.getElementById("errorName");
        const user_phone = document.getElementById("user_phone");
        const errorMobile = document.getElementById("errorMobile");
        const fileUpload = document.getElementById("fileUpload");
        const errorfileUpload = document.getElementById("errorfileUpload");

        errorName.innerHTML =
          user_name.value.trim() === ""
            ? "Please enter user name"
            : /^[a-zA-Z ]+$/.test(user_name.value) == false
              ? "Please enter alphabets only"
              : "";
        errorMobile.innerHTML =
          user_phone.value.trim() === ""
            ? "Please enter user phone number"
            : /^\d{10}$/.test(user_phone.value) == false
              ? "Please enter valid phone number"
              : "";

        const uploadedFile = fileUpload.files[0];
        const existingImage = document.getElementById("previewImage");
        const defaultImageSrc = existingImage.getAttribute("src");
        const allowedTypes = [
          "image/jpeg",
          "image/png",
          "image/gif",
          "image/bmp",
          "image/webp",

        ];

        if (uploadedFile) {
          if (!allowedTypes.includes(uploadedFile.type)) {
            errorfileUpload.innerHTML = "Please upload a valid image file (JPEG, PNG, GIF)";

            return false;
          }
        } else {
          // If no new file is selected, maintain the existing image
          existingImage.setAttribute("src", defaultImageSrc);
        }

        if (errorName.innerHTML || errorMobile.innerHTML) return false;

        return true;
      }
      function validationPasswordChecking(event) {
        const password = document.getElementById("password");
        const errorpassword = document.getElementById("errorpassword");
        const cpassword = document.getElementById("cpassword");
        const errorcpassword = document.getElementById("errorcpassword");
        errorpassword.innerHTML = password.value.trim() === "" ? "Please enter password" : password.value.length < 8 ? "Please enter a minimum of 8 characters" : "";
        errorcpassword.innerHTML = cpassword.value.trim() === "" ? "Please enter password" : (cpassword.value !== password.value) ? "Passwords do not match" : "";

        if (errorpassword.innerHTML || errorcpassword.innerHTML) return false;

        return true;
      }











    </script>